// about main ----------------------------------------------------

.about__main {
    position: relative;
    background-size: cover;
    background-position: top right;
    background-repeat: no-repeat;
    width: 100%;
}


.about__main-inner {
    padding: 280px 0 100px;
    text-align: left;
    position: relative;
}

.about__main-img {
    max-width: 484px;
    width: 100%;
    height: auto;
}

.about__main-title h1 {
    font-family: "Gilroy-Bold";
    font-style: normal;
    font-weight: bold;
    font-size: 65px;
    line-height: 80px;
    text-transform: capitalize;
    color: #fff;
    margin-bottom: 24px;
}

.about__main-subtitle {
    font-size: 21px;
    line-height: 150%;
    color: #cfcfcf;
    max-width: 450px;
    margin-bottom: 32px;
}

.about__main-btn {
    display: inline-block;
    font-weight: 600;
    font-size: 16px;
    line-height: 16px;
    padding: 17px 48px;
    background: #4346de;
    border-radius: 4px;
    color: #ffffff;
    font-family: "Sofia Pro";
    font-weight: normal;
    margin-bottom: 29px;
    transition: 0.3s;

    &:hover {
        background: #d7e2ff;
        color: #4346de;
        text-decoration: none;
    }
}

// about descr -------------------------------------------------------
.about__descr {
    width: 100%;
    background-size: cover;
    background-position: 50%, 50%;
}

.about__descr-title.section-title {
    margin: 128px 0 40px;
}

.about__descr-text {
    margin-bottom: 280px;

    p {
        font-size: 20px;
        line-height: 150%;
        color: #7e7e93;
        margin-bottom: 20px;
        max-width: 450px;
    }
}

.about__descr-img {
    text-align: right;

    .descr__right-img {
        margin-top: 128px;
        width: 206px;
        height: 400px;
    }
}

.descr__right-bg {
    display: none;
}

// modal window --------------------------------------------------------
#modal__about {
    .modal-body {
        padding: 0;

        .section-title {
            margin-bottom: 25px;
        }

        .getintouchform .formsubmit {
            height: 50px;
            max-width: 175px;
            margin: 35px auto 0;
            font-size: 16px;
        }
    }

    .modal-content {
        background-color: #f8faff;
        border-radius: 10px;
        box-shadow: 0px 41.7776px 33.4221px rgba(0, 0, 0, 0.0503198),
            0px 22.3363px 17.869px rgba(0, 0, 0, 0.0417275),
            0px 12.5216px 10.0172px rgba(0, 0, 0, 0.035),
            0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0282725),
            0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0196802);
        height: 640px;
        padding: 92px 128px 82px;
    }

    .modal-dialog {
        max-width: 655px;
    }

    .formwrapper {
        position: relative;
        z-index: 2;
    }

    .modal__gradient {
        position: absolute;
        width: 288px;
        height: 288px;
        left: -120px;
        bottom: -130px;
        background: rgba(131, 208, 244, 0.25);
        filter: blur(100px);
    }

    .modal-content .close {
        padding: 0;
        border: none;
        outline: none;
        background-color: transparent;
        width: 40px;
        height: 40px;
        position: absolute;
        right: 20px;
        top: 20px;
    }

    .btn-close:focus {
        box-shadow: none;
    }
}

// media -------------------------------------

@media (max-width: 1199.8px) {
    .about__main-inner {
        padding: 150px 0 200px;
    }
}

@media (max-width: 991.8px) {
    .about__descr-title.section-title {
        margin: 90px 0 30px;
    }

    .about__descr-text {
        max-width: 420px;

        p {
            font-size: 18px;
            line-height: 150%;
        }
    }

    .about__main-title h1 {
        font-size: 45px;
        line-height: 120%;
    }

    .about__main-subtitle {
        font-size: 20px;
        line-height: 150%;
        max-width: 375px;
    }
}

@media (max-width: 767.8px) {
    .about__descr {
        background: none;
    }

    .about__descr-text {
        margin-bottom: 30px;
    }

    .about__descr-img {
        text-align: center;
        position: relative;
        margin-bottom: 50px;

        .descr__right-img {
            margin-top: 0;
            width: 206px;
            height: 400px;
        }

        .descr__right-bg {
            display: block;
            position: absolute;
            width: 100%;
            top: 0;
            left: 0;
            z-index: -1;
        }
    }

    #modal__about .modal-content {
        height: 620px;
        padding: 80px;
    }

    .about__main-inner {
        padding: 100px 0 50px;
    }

    .about__main-subtitle {
        font-size: 20px;
        line-height: 150%;
        max-width: 400px;
    }
}

@media (max-width: 575.8px) {
    #modal__about .modal-content {
        height: 600px;
        padding: 80px 30px;
    }

    .about__main-title h1 {
        font-size: 37px;
        line-height: 120%;
    }

    .about__descr-title.section-title {
        margin: 60px 0 30px;
    }

    .about__descr-text {
        p {
            font-size: 16px;
            line-height: 150%;
        }
    }

    .about__descr-img .descr__right-img {
        width: 200px;
        height: auto;
    }
}

@media (max-width: 460px) {
    .about__main-title h1 {
        margin-bottom: 19px;
    }

    .about__main-inner {
        padding: 50px 0;
    }

    .about__descr-text p {
        margin-bottom: 18px;
    }

    .about__descr-title.section-title {
        margin: 50px 0 20px;
    }
}

@media (max-width: 360px) {
    .about__main-subtitle {
        font-size: 18px;
    }
}