//  section partner__main -------------------------------------

.partner__main {
    padding: 90px 0 100px;
    position: relative;

    &::after {
        content: "";
        position: absolute;
        width: 401px;
        height: 401px;
        right: 0;
        bottom: -150px;
        background: rgba(131, 208, 244, 0.15);
        filter: blur(100px);
        z-index: -1;
    }
}

.partner__main-title h1 {
    font-family: "Gilroy-Bold";
    font-style: normal;
    font-weight: bold;
    font-size: 65px;
    line-height: 80px;
    text-transform: capitalize;
    color: #2a2a2a;
    margin-bottom: 16px;
}

.partner__main-subtitle {
    font-size: 21px;
    line-height: 150%;
    color: #7e7e93;
    max-width: 579px;
    margin: 0 auto 34px;
}

.partner__main-btn {
    font-weight: 600;
    font-size: 16px;
    line-height: 16px;
    padding: 17px 50px;
    background: #4346de;
    border-radius: 4px;
    color: #ffffff;
    font-family: "Sofia Pro";
    font-weight: normal;
    margin-bottom: 29px;
    transition: 0.3s;

    &:hover {
        background: #d7e2ff;
        color: #4346de;
    }
}

.partner__main-image {
    position: relative;
    padding-bottom: 40px;
    max-width: 870px;
    width: 100%;
    margin: 0 auto;

    img {
        max-width: 347px;
        width: 100%;
        background-size: cover;
    }

    &::before {
        content: "";
        position: absolute;
        background-image: url(../img/partner_main_before.svg);
        width: 223px;
        height: 206px;
        bottom: 0;
        left: 0px;
    }

    &::after {
        content: "";
        position: absolute;
        background-image: url(../img/partner_main_after.svg);
        width: 223px;
        height: 206px;
        bottom: 0;
        right: 0px;
    }
}

//  section partner__support ------------------------------------

.partner__support {
    padding-bottom: 100px;
    position: relative;

    &::after {
        position: absolute;
        content: "";
        z-index: -1;
        width: 401px;
        height: 401px;
        left: -150px;
        top: 50%;
        background: rgba(131, 208, 244, 0.15);
        filter: blur(100px);
    }
}

.partner__support-title {
    margin-bottom: 40px;
}

.partner__support-inner {
    margin-top: -85px;
}

.partner__support-text {
    padding-top: 85px;

    p {
        font-size: 20px;
        line-height: 150%;
        color: #7e7e93;
        margin-bottom: 20px;
        max-width: 450px;
    }
}

.partner__box-item {
    height: 183px;
    background: #ffffff;
    box-shadow: 0px 41.7776px 33.4221px rgba(0, 0, 0, 0.0503198),
        0px 22.3363px 17.869px rgba(0, 0, 0, 0.0417275),
        0px 12.5216px 10.0172px rgba(0, 0, 0, 0.035),
        0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0282725),
        0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0196802);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.partner__box-title {
    font-weight: 600;
    font-size: 50px;
    line-height: 150%;
    color: #2a2a2a;
    font-family: "Sofia Pro Semi";
    font-style: normal;
    font-weight: 600;
}

.partner__box-text {
    font-size: 20px;
    line-height: 150%;
    text-align: center;
    color: #7e7e93;
}

.partner__support-box .col-6 {
    margin-top: 30px;
}

.partner__support-box .col-6:nth-child(1),
.partner__support-box .col-6:nth-child(2) {
    margin-top: 0;
}

a.partner__main-btn {
    display: inline-block;
}

main.main {
    overflow: hidden;
}

.modal-content .close {
    padding: 0;
    border: none;
    outline: none;
    background-color: transparent;
    width: 40px;
    height: 40px;
    position: absolute;
    right: 20px;
    top: 20px;
}



@media (min-width: 1200px) {
    .container {
        max-width: 1165px;
    }
}

@media (max-width: 1199.8px) {}

@media (max-width: 991.8px) {
    .partner__support-left {
        order: 2;
    }

    .partner__support-right {
        order: 1;
        padding-top: 85px;
    }

    .partner__main-image {
        max-width: 100%;
    }

    .partner__main {
        padding: 90px 0 0;

        &::after {
            width: 307px;
            height: 307px;
            bottom: 300px;
        }
    }

    .partner__support {
        text-align: center;
    }

    .section-title {
        font-size: 33px;
        line-height: 120%;
    }

    .partner__support-text p {
        text-align: left;
    }

    .partner__support {
        &::after {
            top: 10%;
        }
    }
}

@media (max-width: 767.8px) {
    .partner__support-left {
        order: 1;
    }

    .partner__support-right {
        order: 2;
        padding-top: 0;
    }

    .partner__main-image::before,
    .partner__main-image::after {
        display: none;
    }

    .partner__main-title h1 {
        font-size: 45px;
        line-height: 120%;
    }

    .partner__main-subtitle {
        font-size: 20px;
        line-height: 150%;
        max-width: 418px;
    }

    .partner__main-btn {
        display: none;
    }

    .section-title {
        font-size: 30px;
        line-height: 120%;
    }

    .partner__support-text p {
        font-size: 16px;
        line-height: 150%;
    }

    .partner__box-title {
        font-size: 40px;
        line-height: 150%;
    }

    .partner__box-text {
        font-size: 16px;
        line-height: 140%;
    }

    .partner__support {
        &::after {
            display: none;
        }
    }
}

@media (max-width: 575.8px) {
    .partner__support-text p {
        text-align: center;
        margin: 0 auto 20px;
    }

    .partner__support-box {
        .row {
            margin-left: -8px;
            margin-right: -8px;
        }

        .col-6 {
            padding-left: 8px;
            padding-right: 8px;
        }
    }

    .partner__support-box .col-6 {
        margin-top: 16px;
    }

    .partner__box-item {
        padding: 17px 11px;
    }

    .modal-content .close,
    #modal__career .close,
    #modal__partner .close {
        top: 10px !important;
        right: 10px !important;
    }


}

@media (max-width: 460px) {
    .partner__box-item {
        padding: 17px 11px;
        height: 143px;
    }

    .partner__box-text {
        max-width: 126px;
    }

    .partner__main {
        padding: 66px 0 0;
    }

    .partner__main-title h1 {
        font-size: 37px;
    }

    .partner__main-subtitle {
        max-width: 273px;
    }

    .partner__main-image img {
        max-width: 276px;
    }

    .partner__main {
        &::after {
            width: 227px;
            height: 227px;
        }
    }
}

@media(max-width:360.8px) {
    .partner__box-title {
        font-size: 32px;
    }

    .partner__box-text {
        font-size: 14px;
    }
}