.career__main,
.about__main {
    background: linear-gradient(312.51deg, #4346DE -3.07%, #10054D 52.02%);
    max-height: 1000px;
    min-height: initial;
    height: 100vh;
    min-height: 870px;
}

.career__main.career-firstsection {
    .career-fscreenimg {
        position: absolute;
        right: 0;
        bottom: 0;
    }

    .container {
        z-index: 2;
        position: relative;
    }

}

.about__main {
    .container {
        position: relative;
        z-index: 2;
    }

    .about__layerbg {
        position: absolute;
        right: 0;
        bottom: 0;
        max-width: 100%;
    }

    .about__main-inner {
        padding-top: 240px;

        .about__main-title {
            margin-top: 50px;
        }
    }
}

.about__descr {
    position: relative;

    .about__descr-bg {
        position: absolute;
        bottom: 0;
        right: 0;
    }
}








@media(max-width:1199.8px) {
    .about__main .about__main-inner {
        padding-top: 150px;
        padding-bottom: 100px;
    }





}


@media(max-width:1024.8px) {

    .career__main,
    .about__main {
        height: 868px;
        max-height: 868px;
        position: relative;
        background: linear-gradient(312.51deg, #4346DE -3.07%, #10054D 52.02%) !important;
        height: auto;
        min-height: initial;
        max-height: initial;

        .career__main-inner {
            text-align: center;
        }

        .career__main-subtitle {
            margin: 0 auto 45px;
        }
    }

    .career__main.career-firstsection .career-fscreenimg {
        position: relative;
    }

    .about__main .about__main-inner {
        text-align: center;

        .col-lg-6 {
            width: 100%;
            max-width: 100%;
            flex: 0 0 100%;
        }
    }

    .about__main .about__main-inner .about__main-title {
        margin-top: 0;
    }

    .about__main-subtitle {
        margin: 0 auto 45px;
    }

}

@media(max-width:991.8px) {

    .career__main.career-firstsection,
    .about__main {
        padding-top: 234px;
    }

    .about__main .about__main-inner {
        padding-top: 0 !important;
        padding-bottom: 50px;
    }

    .about__main .about__main-img {
        max-width: 360px;
    }

    .about__descr .about__descr-bg {
        position: absolute;
        bottom: initial;
        right: -100px;
        width: 100%;
        top: 100px;
    }

    .about__descr-text {
        margin-bottom: 0;
    }

    .about__descr {
        padding-bottom: 100px;
    }


}

@media(max-width:767.8px) {
    .about__descr .about__descr-bg {
        display: none;
    }

    .about__descr {
        padding-bottom: 0;
    }
}

@media(max-width:575.8px) {

    .career__main.career-firstsection,
    .about__main {
        padding-top: 157px;
    }

    .career__main .career__main-subtitle {
        margin-bottom: 40px;
    }

    .about__main .about__main-img {
        max-width: 200px;
    }







}


// HOME UPDATES

.welcomescreen .welcomescreen__illustration {
    top: 84px;
    max-width: 908px;
}

.about-illustration {
    max-width: 857px;
}

.benefits__img img {
    max-width: 250px;
}

.teamblock__photo img {
    border-radius: 50%;
}

.about {
    margin-top: 300px;
    padding-bottom: 50px;
}

.about-illustration {
    bottom: initial;
    top: -145px;
}

.benefits__box.colpic {
    background: #FFFFFF;
    border: 1px solid #4346DE;
    box-sizing: border-box;
    box-shadow: 0px 41.7776px 33.4221px rgb(0 0 0 / 5%), 0px 22.3363px 17.869px rgb(0 0 0 / 4%), 0px 12.5216px 10.0172px rgb(0 0 0 / 4%), 0px 6.6501px 5.32008px rgb(0 0 0 / 3%), 0px 2.76726px 2.21381px rgb(0 0 0 / 2%);
    border-radius: 10px;
}

@media(max-width:1367.8px) {
    .about {
        margin-top: 80px;
        padding-bottom: 120px;
    }

    .about-illustration {
        top: -45px;
    }


}

@media(max-width:1199.8px) {
    .welcomescreen .welcomescreen__illustration {
        right: initial;
        left: 30%;
    }
}

@media(max-width:991.8px) {
    .welcomescreen .welcomescreen__illustration {
        left: initial;
        right: calc(50% - 200px);
        transform: translateX(50%);
        top: 50px;
    }

    .welcomescreen .welcomescreen__descr {
        padding-top: 216px;
        padding-bottom: 146px;
    }

    .about {
        margin-top: 0;
    }

    .wrapptabletill2 {
        position: relative;
        overflow: hidden;
        height: 520px;

    }

    .about-illustration.tablet {
        margin: 0 auto;
        display: block;
    }

    .about__descr {
        padding-bottom: 50px;
    }






}

@media(max-width:767.8px) {
    .welcomescreen .welcomescreen__illustration {
        transform: none;
        top: 0;
        max-width: 100%;
        right: initial;
    }


    .welcomescreen .welcomescreen__descr {
        padding-top: 68px;
        padding-bottom: 18px;
    }

    .welcomescreen .welcomescreen__descr h1,
    .welcomescreen .welcomescreen__descr .subtitle {
        text-align: left;
    }

    .about-illustration.tablet {
        width: 100%;
    }

    .howitworks {
        padding-top: 10px;
    }

    .testimonialsect .testimonial .quotepic {
        position: relative;
        opacity: 1;
        width: 42px;
        top: 0;
        margin-bottom: 8px;
    }

    .testimonialsect .testimonial {
        padding: 33px 20px 33px;
    }

    .testimonialsect .testimonial__descr {
        margin-bottom: 27px;
    }

    .testimonial__descr p {
        font-size: 16px;
    }

    .welcomescreen__illustration.mobile {
        width: calc(100% + 260px);
        max-width: initial;
        margin-left: -130px;
    }





}

@media(max-width:480.8px) {
    .about-illustration.tablet {
        width: calc(100% + 200px);
        margin-left: -100px;
        position: relative;
        z-index: 3;
    }

    .benefits__img img {
        max-width: 100%;
    }

}